doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title=title || 'Advance Embed' + " | Viblo Embed Provider"
    style.
      .viblo-embed, .viblo-embed iframe, body {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
  body
    div(class="viblo-embed")!=iframe
